{% extends "default.html" %}
{% block title %}Firmware Events{% endblock %}

{% block content %}

{% if fwevts|length == 0 %}
<div class="alert alert-info" role="alert">
  No firmware events available.
</div>
{% endif %}

{% for fwevt in fwevts %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{fwevt.kind_color}}">
    {{fwevt.fw.md_prio.name_with_vendor}}
    {{fwevt.fw.md_prio.version_with_tag}}
    <div class="float-right">
{% if fwevt.remote_old %}
      <span class="badge badge-{{fwevt.remote_old.color}}">{{fwevt.remote_old.name}}</span>
      →
{% endif %}
      <span class="badge badge-{{fwevt.remote.color}}">{{fwevt.remote.name}}</span>
    </div>
  </h2>
  <div class="card-body">
    <p class="card-text">
      {{fwevt.kind_display}} {{format_humanize_naturaltime(fwevt.timestamp)}} by {{fwevt.user.username}}.
    </p>
    <a href="{{url_for("firmware.route_show", firmware_id=fwevt.firmware_id)}}" class="card-link btn btn-info">Show firmware</a>
  </div>
</div>
{% endfor %}

{% endblock %}
