{% extends "default.html" %}
{% block title %}Vendor Affiliation{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% if vendors|length > 1 or not fw.vendor.affiliations %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">OEM Vendor</h2>
    <p class="card-text">
      Care must be taken changing the assigned OEM vendor of firmware as it gives the
      owner the ablity to change the target and even delete the firmware.
      All firmware must be prefixed with an <a href="https://lvfs.readthedocs.io/en/latest/metainfo.html#appstream-id">AppStream ID</a>
      that matches the
      <a href="https://lvfs.readthedocs.io/en/latest/apply.html?highlight=namespace">OEM vendor namespace</a>,
      e.g. <code>com.dell.abcdef.firmware</code> can only be owned by the Dell OEM vendor.
    </p>
{% if not g.user.check_acl('@admin') %}
    <div class="alert alert-warning mt-1" role="alert">
      If you move this firmware to an different vendor it may not be possible
      to edit the update details or move the firmware to testing or stable.
    </div>
{% endif %}
    <form action="{{url_for('firmware.route_affiliation_change', firmware_id=fw.firmware_id)}}" method="post">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group">
        <label for="vendor_id">Controlling vendor</label>
        <select class="form-control" id="vendor_id" name="vendor_id" required>
{% for v in vendors %}
          {{v.vendor_id}}  and {{fw.vendor_id}}
          <option value="{{v.vendor_id}}" {{ 'selected' if v.vendor_id == fw.vendor_id }}>{{v.display_name_with_team}}</option>
{% endfor %}
        </select>
      </div>
      <input type="submit" class="btn btn-danger card-link" value="Change"/>
    </form>
  </div>
</div>
{% endif %}

{% if fw.vendor.affiliations %}
<div class="card mt-3">
  <div class="card-body">
  <h2 class="card-title">ODM Vendors</h2>
  <p class="card-text">
    These are additional vendors that can modify the firmware without changing the firmware owner.
    The ODM vendor must have an assigned vendor ID that matches the device value, e.g. <code>DMI:LENOVO</code>.
    See <a href="https://lvfs.readthedocs.io/en/latest/upload.html#affiliated-vendors">the documentation</a>
    for more details about the affiliated vendors feature.
  </p>
<table class="table">
{% if fw.odm_vendors_map %}
  <tr class="row table-borderless">
    <th class="col col-4">Vendor Name</th>
    <th class="col col-6">Added</th>
    <th class="col">&nbsp;</th>
  </tr>
{% endif %}
{% for ovm in fw.odm_vendors_map %}
{% if ovm.check_acl("@view") %}
  <tr class="row">
    <td class="col col-4">
      {{ovm.vendor.display_name_with_team}}
    </td>
    <td class="col col-6">
      {{ovm.ctime.strftime('%F %T')}} by <code>{{ovm.user.username}}</code>
    </td>
    <td class="col col-2">
{% if ovm.check_acl("@delete") %}
      <form action="{{url_for('firmware.route_vendor_delete', firmware_vendor_id=ovm.firmware_vendor_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
{% endif %}
    </td>
  </tr>
{% endif %}
{% endfor %}
{% if fw.check_acl("@add-odm-vendor") %}
  <form method="post" action="{{url_for('firmware.route_vendor_create')}}" class="form">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <input type="hidden" name="firmware_id" value="{{fw.firmware_id}}">
  <tr class="row table-borderless">
    <td class="col col-10">
      <select class="form-control" id="vendor_id" name="vendor_id" required>
{% for aff in fw.vendor.affiliations %}
        <option value="{{aff.vendor_odm.vendor_id}}">{{aff.vendor_odm.display_name_with_team}}</option>
{% endfor %}
      </select>
    </td>
    <td class="col col-2">
      <input class="btn btn-block btn-primary" type="submit" value="Add">
    </td>
  </tr>
  </form>
{% endif %}
</table>
  </div>
</div>
{% endif %}

{% endblock %}
