{% extends "default.html" %}
{% block title %}Metadata{% endblock %}

{% block content %}

{% if g.user.check_acl('@qa') %}

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Stable
      <span class="badge badge-success">Public</span>
      <a class="float-right" href="/downloads/firmware.xml.gz">
        <code>firmware.xml.gz</code>
      </a>
    </h2>
    <p class="card-text">
      This remote contains firmware available to millions of end users.
    </p>
{% if remotes['stable'].is_dirty %}
    <div class="alert alert-info card-text" role="alert">
      Remote will be signed with new firmware in {{format_timedelta_approx(remotes['stable'].scheduled_signing)}}
    </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
    <form action="{{url_for('metadata.route_rebuild_remote', remote_id=remotes['stable'].remote_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-primary">Rebuild</button>
    </form>
{% endif %}
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Testing
      <span class="badge badge-success">Public</span>
      <a class="float-right" href="/downloads/firmware-testing.xml.gz">
        <code>firmware-testing.xml.gz</code>
      </a>
    </h2>
    <p class="card-text">
      This remote contains firmware available to thousands of end users who have
      manually enabled the <code>lvfs-testing</code> remote.
    </p>
{% if remotes['testing'].is_dirty %}
    <div class="alert alert-info card-text" role="alert">
      Remote will be signed with new firmware in {{format_timedelta_approx(remotes['testing'].scheduled_signing)}}
    </div>
{% endif %}
{% if g.user.check_acl('@admin') %}
    <form action="{{url_for('metadata.route_rebuild_remote', remote_id=remotes['testing'].remote_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-primary">Rebuild</button>
    </form>
{% endif %}
  </div>
</div>

{% else %}

<div class="alert alert-warning" role="alert">
  This user account does not yet have permission to push to the
  <code>testing</code> or <code>stable</code> remotes.
</div>

{% endif %}

{% for v in vendors %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      {{v.display_name_with_team}} Embargo
      <span class="badge badge-warning">Private</span>
      <a class="float-right" href="/downloads/{{v.remote.get_basename_newest()}}">
        <code>{{v.remote.get_basename_newest()}}</code>
      </a>
    </h2>
    <p class="card-text">
      This remote contains firmware available only to users who have installed the
      vendor remote.
      To complete an end-to-end test save <a href="{{url_for('metadata.route_remote', group_id=v.group_id)}}">
      <code>{{v.group_id}}-embargo.conf</code></a> to <code>/etc/fwupd/remotes.d</code>
      if you are using the distribution version of fwupd or to
      <code>/root/snap/fwupd/current/etc/fwupd/remotes.d</code> for the
      <a href="https://snapcraft.io/fwupd">Snap</a> version.
    </p>
    <p class="card-text">
      Do not share the embargo URL with external users as the private firmware
      should remain hidden from the public.
      You also may need to do <code>fwupdmgr refresh</code> on each
      client to show new updates.
    </p>
    <p class="card-text">
      The contents of this remote are also available as a
      <a href="{{url_for('main.route_pulp_manifest_vendor', vendor_id=v.vendor_id)}}">PULP_MANIFEST</a>
      using a previously generated user token.
      See <a href="https://lvfs.readthedocs.io/en/latest/offline.html#using-a-helper-script">the LVFS documentation</a>
      for more information on how to use <code>sync-pulp.py</code> with a token.
    </p>
{% if g.user.check_acl('@admin') %}
{% if remotes['embargo-' + v.group_id].is_dirty %}
    <!-- Remote will be signed with new firmware -->
    <form action="{{url_for('metadata.route_rebuild_remote', remote_id=remotes['embargo-' + v.group_id].remote_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-secondary">Rebuild</button>
    </form>
{% else %}
    <form action="{{url_for('metadata.route_rebuild_remote', remote_id=remotes['embargo-' + v.group_id].remote_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-primary">Rebuild</button>
    </form>
{% endif %}
{% endif %}
  </div>
</div>
{% endfor %}

{% if g.user.check_acl('@admin') %}
<!-- admin only actions -->
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Complete Rebuild</h2>
<p class="card-text">
  This rebuilds metadata for all targets and QA groups.
</p>
<form method="POST" action="{{url_for('metadata.route_rebuild')}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
<button class="btn btn-danger">Rebuild Metadata</button>
</form>
  </div>
</div>
{% endif %}
{% endblock %}
