{% extends "base.html" %}
{% block body %}

<!-- navigation -->
{% if request.url_rule.endpoint == 'index' %}
<nav class="navbar navbar-dark fs--1 font-weight-semi-bold navbar-standard navbar-theme navbar-expand-lg fixed-top">
{% else %}
<nav class="navbar navbar-dark fs--1 font-weight-semi-bold bg-dark navbar-expand-lg">
{% endif %}
  <div class="container">
    <a class="navbar-brand" href="/">
      <div class="d-flex align-items-center text-primary">
        <span class="text-white">LVFS</span>
      </div>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarStandard">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Home
          </a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownPages">
            <div class="bg-white rounded-soft py-2">
              <a class="dropdown-item" href="{{url_for('firmware.route_new')}}">New Firmware</a>
              <a class="dropdown-item" href="{{url_for('devices.route_list')}}">Supported Devices</a>
              <a class="dropdown-item" href="{{url_for('hsireports.route_devices')}}">Device Security</a>
              <a class="dropdown-item" href="{{url_for('vendors.route_list')}}">Vendor List</a>
              <a class="dropdown-item" href="{{url_for('vendors.route_prodcerts')}}">Product Certification</a>
              <a class="dropdown-item" href="{{url_for('docs.route_privacy')}}">Privacy Report</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownDocumentation" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownDocumentation">
            <div class="bg-white rounded-soft py-2">
              <a class="dropdown-item" href="{{url_for('docs.route_vendors')}}">Hardware Vendors</a>
              <a class="dropdown-item" href="{{url_for('docs.route_users')}}">End Users</a>
              <a class="dropdown-item" href="{{url_for('docs.route_developers')}}">Developers</a>
              <a class="dropdown-item" href="{{url_for('docs.route_introduction')}}">External Documentation</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('docs.route_agreement')}}">Vendor Agreement</a>
              <a class="dropdown-item" href="{{url_for('docs.route_consulting')}}">Consulting</a>
            </div>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center d-none d-lg-block ml-3">
        <li class="nav-item">
          <form class="form-inline search-box" action="{{url_for('search.route_search')}}">
            <input class="form-control" type="search" placeholder="Search for firmware..." name="value" aria-label="Search" style="background: none;"/>
          </form>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center ml-auto">
{% if g.user is defined and g.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownProfile" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu dropdown-menu-card" aria-labelledby="navbarDropdownProfile">
            <div class="bg-white rounded-soft py-2">
              <a class="dropdown-item" href="{{url_for('main.route_dashboard')}}">Dashboard</a>
              <a class="dropdown-item" href="{{url_for('main.route_profile')}}">User</a>
{% if g.user.vendor.check_acl('@manage-users') %}
              <a class="dropdown-item" href="{{url_for('vendors.route_users', vendor_id=g.user.vendor_id)}}">Vendor</a>
{% endif %}
{% if g.user.check_acl('@view-eventlog') %}
              <a class="dropdown-item" href="{{url_for('main.route_eventlog')}}">Events</a>
{% endif %}
              <a class="dropdown-item" href="{{url_for('main.route_logout')}}">Log Out</a>
            </div>
          </div>
        </li>
{% else %}
        <li class="nav-item">
          <a class="btn btn-sm btn-falcon-default" href="{{url_for('main.route_login1')}}" role="button">
            Login
          </a>
        </li>
{% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content2 %}
<div class="container mt-3">
{% for category, msg in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ category }}" role="alert">
  {{ msg }}
</div>
{% endfor %}
{% block nav %}{% endblock %}
{% block content %}
{% endblock %}
</div>
{% endblock %}

<!-- footer -->
<section class="py-0 py-3">
  <div class="container">
    <div class="row justify-content-between fs--1">
      <div class="col-12 col-sm-auto">
        <p class="mb-0">
          <a class="text-700" href="https://{{g.container_id}}#{{g.release}}">LVFS</a>
          &copy; 2015 <a class="text-700" href="mailto:richard@hughsie.com">Richard Hughes</a>
          with icons from <a href="https://fontawesome.com/license">Font Awesome</a>
          and GeoIP data from <a href="https://lite.ip2location.com">IP2Location</a>.
        </p>
        <p class="mb-0">
          Linux Vendor Firmware Service Project a Series of LF Projects, LLC
          :: <a class="text-700" href="https://gitlab.com/fwupd/lvfs-website/raw/master/docs/technical-charter.pdf">Charter</a>
        </p>
        <p class="mb-0">
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
