{% extends "default.html" %}
{% block title %}HSI Device{% endblock %}
{% block nav %}
<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('hsireports.route_devices')}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-3 d-flex pl-0 pb-3">
{% if 'org.fwupd.hsi.SupportedCpu' in report_attrs %}
      <button type="button" class="btn btn-outline-{{hsi_level_map[hsi_level]}} btn-block" style="font-size: 400%;" disabled>
        <strong class="text-break text-dark">HSI:{{hsi_level}}</strong>
      </button>
{% else %}
      <button type="button" class="btn btn-outline-warning}} btn-block" style="font-size: 400%;" disabled>
        <strong class="text-break text-dark">HSI:?</strong>
      </button>
{% endif %}
    </div>
    <div class="col-9 d-flex p-0 m-0">
      <div class="card mb-3">
        <h2 class="card-header card-title list-group-item-{{hsi_level_map[hsi_level]}}">
          {{report.title}}
        </h2>
        <div class="card-body">
{% if 'org.fwupd.hsi.SupportedCpu' in report_attrs %}
{% if hsi_level == 0 %}
    <p class="card-text">
      We predict this device has no protection against hardware security threats.
    </p>
    <p class="card-text">
      This result could be because of a hardware limitation or firmware configuration issue
      and your specific HSI score may be higher or lower as it depends on firmware settings and operating system version.
    </p>
{% elif hsi_level == 1 %}
    <p class="card-text">
      We predict this device has minimal protection against hardware security issues and only provides
      protection against simple security threats.
    </p>
    <p class="card-text">
      This result could be because of a hardware limitation or firmware configuration issue
      and your specific HSI score may be higher or lower as it depends on firmware settings and operating system version.
    </p>
{% elif hsi_level == 2 %}
    <p class="card-text">
      We predict this device has basic protection against hardware security issues and provides protection
      against some common security threats.
    </p>
    <p class="card-text">
      This result could be because of a hardware limitation or firmware configuration issue
      and your specific HSI score may be higher or lower as it depends on firmware settings and operating system version.
    </p>
{% elif hsi_level == 3 %}
    <p class="card-text">
      We predict this device has extended protection against hardware security issues and provides protection
      against advanced security threats.
      Your specific HSI score may be higher or lower as it depends on firmware settings and operating system version.
    </p>
{% elif hsi_level == 4 %}
    <p class="card-text">
      We predict this device has extended protection with verifiable system integrity and provides protection
      against advanced security threats.
      Your specific HSI score may be higher or lower as it depends on firmware settings and operating system version.
    </p>
{% endif %}
{% else %}
    <p class="card-text">
      Unfortunately we could not accurately predict the HSI number based on the report data.
    </p>
{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="alert alert-warning mt-1" role="alert">
      These reports have been uploaded by unverified end-users and <strong>results may be incorrect</strong>.
      You should check on actual hardware before using this data for purchasing decisions.
    </div>
    <ul class="list-group">
{% for appstream_id in report_attrs %}
      <li class="list-group-item">
{% if appstream_id in hsi_info_map %}
{% set info = hsi_info_map[appstream_id] %}
        <strong>HSI-{{info.level or '?'}}:</strong> {{info.name or info.appstream_id}}
{% else %}
        <strong>HSI-?:</strong> Unknown attribute, please report: <code>{{appstream_id}}</code>
{% endif %}
        <span class="float-right">
          <a class="btn btn-sm btn-outline-info" href="https://fwupd.github.io/libfwupdplugin/hsi.html#{{appstream_id}}">
            More info
          </a>
        </span>
        <p class="card-text mt-1">
{% for attr_result in report_attrs[appstream_id] %}
{% if attr_result['is_success'] %}
          <img class="fa mr-2" src="{{url_for('cdn', filename='img/check-circle-solid.svg')}}" width="22px" height="22px" />
{% else %}
          <img class="fa mr-2" src="{{url_for('cdn', filename='img/times-circle-solid.svg')}}" width="22px" height="22px" />
{% endif %}
          {{hsi_result_map.get(attr_result['hsi_result'], attr_result['hsi_result'])}}
{% if attr_result['pc'] != 100 %}
          ({{attr_result['pc']}}%)
{% endif %}
{% endfor %}
        </p>
      </li>
{% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
