{% extends "default.html" %}
{% block title %}Firmware SWIDs{% endblock %}

{% block nav %}
<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('devices.route_show', appstream_id=md.appstream_id)}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Software Bill of Materials</h2>
    <p class="card-text">
      The list below may be incomplete if the vendor has not supplied the required data.
    </p>
    <a class="card-link btn btn-info" href="{{url_for('devices.route_swids_archive', component_id=md.component_id)}}">
      Export as SWID archive
    </a>
    <a class="card-link btn btn-info" href="{{url_for('devices.route_swids_cyclonedx', component_id=md.component_id)}}">
      Export as CycloneDX
    </a>
  </div>
</div>

{% for identity in identities %}
<a name="{{identity.tag_id}}"></a>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      {{identity.software_name or 'Unknown'}}
{% if identity.software_version %}
      &mdash; v{{identity.software_version}}
{% endif %}
      <span class="float-right">
        <code>{{identity.tag_id}}</code>
      </span>
    </h2>
    <table class="table card-text">
{% if identity.tag_version %}
      <tr class="row">
        <th class="col-2">Tag Version</th>
        <td class="col">{{identity.tag_version}}</td>
      </tr>
{% endif %}
{% if identity.summary %}
      <tr class="row">
        <th class="col-2">Summary</th>
        <td class="col">{{identity.summary}}</td>
      </tr>
{% endif %}
{% if identity.product %}
      <tr class="row">
        <th class="col-2">Product</th>
        <td class="col">{{identity.product}}</td>
      </tr>
{% endif %}
{% if identity.colloquial_version %}
      <tr class="row">
        <th class="col-2">Colloquial Version</th>
        <td class="col"><code>{{identity.colloquial_version}}</code></td>
      </tr>
{% endif %}
{% if identity.revision %}
      <tr class="row">
        <th class="col-2">Revision</th>
        <td class="col">{{identity.revision}}</td>
      </tr>
{% endif %}
{% if identity.edition %}
      <tr class="row">
        <th class="col-2">Edition</th>
        <td class="col">{{identity.edition}}</td>
      </tr>
{% endif %}
{% for entity in identity.entities %}
      <tr class="row">
        <th class="col-2">Entity</th>
        <td class="col">
{% if entity.regid %}
          <a href="https://{{entity.regid}}/">{{entity.name}}</a>
{% else %}
          {{entity.name}}
{% endif %}
        </td>
        <td class="col-5">
{% for role in entity.roles %}
          <span class="badge badge-pill badge-primary">{{role.name}}</span>
{% endfor %}
        </td>
      </tr>
{% endfor %}
{% for link in identity.links %}
      <tr class="row">
        <th class="col-2">{{rel_map.get(link.rel)}}</th>
{% if link.rel == "component" %}
        <td class="col"><a href="#{{link.href[5:]}}"><code>{{link.href[5:]}}</code></a></td>
{% else %}
        <td class="col"><a href="{{link.href}}">{{link.href_for_display}}</a></td>
{% endif %}
        <td class="col-5"></td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>

{% endfor %}

{% endblock %}
