{% extends "default.html" %}
{% block title %}User YARA Queries{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}

{% if u.queries|length == 0 %}
<div class="card">
  <div class="card-body">
    <p class="card-text">
      No queries have been performed by this user.
    </p>
  </div>
</div>
{% endif %}

{% for query in u.queries %}
<div class="card mb-3">
  <h2 class="card-header card-title list-group-item-{{query.color}}">
    {{query.title}}: {{query.found}} out of {{query.total}}
    <span class="float-right">{{format_humanize_naturaltime(query.ctime)}}</span>
  </h2>
  <div class="card-body">
    <pre class="mb-3">{{query.value}}</pre>
{% if query.error %}
    <pre class="mb-3">{{query.error}}</pre>
{% endif %}
    <div class="form-inline">
{% if query.check_acl('@show') and query.ended_ts %}
      <a class="card-link btn btn-info mx-1"
         href="{{url_for('queries.route_show', yara_query_id=query.yara_query_id)}}"
         role="button">Details</a>
{% endif %}
{% if query.check_acl('@retry') and query.started_ts %}
      <form action="{{url_for('queries.route_retry', yara_query_id=query.yara_query_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-warning mx-1">Retry</button>
      </form>
{% endif %}
{% if query.check_acl('@delete') %}
      <form action="{{url_for('queries.route_delete', yara_query_id=query.yara_query_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="card-link btn btn-danger mx-1">Delete</button>
      </form>
{% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
