{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}

<div class="alert alert-warning mt-1" role="alert">
  Moving a user from one vendor should be done carefully.
</div>

<div class="card mt-3">
  <div class="card-body">
<form method="post" action="{{url_for('users.route_modify_by_admin', user_id=u.user_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
{% if u.check_acl('@qa') %}
  <input type="hidden" name="qa" value="1">
{% endif %}
{% if u.check_acl('@analyst') %}
  <input type="hidden" name="analyst" value="1">
{% endif %}
{% if u.check_acl('@vendor-manager') %}
  <input type="hidden" name="vendor-manager" value="1">
{% endif %}
{% if u.check_acl('@researcher') %}
  <input type="hidden" name="researcher" value="1">
{% endif %}
{% if u.check_acl('@translator') %}
  <input type="hidden" name="translator" value="1">
{% endif %}
{% if u.check_acl('@approved-public') %}
  <input type="hidden" name="approved-public" value="1">
{% endif %}

  <div class="form-group row">
    <label class="col col-sm-2 col-form-label" for="display_name">New Vendor</label>
    <div class="col col-sm-10">
    <select class="form-control" name="vendor_id">
{% for v in possible_vendors %}
      <option value="{{v.vendor_id}}" {{ 'selected' if v.vendor_id == u.vendor_id }}>
        {{v.display_name_with_team}}
      </option>
{% endfor %}
    </select>
    </div>
  </div>

  <div class="form-group">
    <label for="reparent">
      <input class="checkbox" type="checkbox" id="reparent" name="reparent" value="1" checked />
      Move firmware uploaded by the user to the new group
    </label>
  </div>
  <div class="form-group">
    <label for="send_email">
      <input class="checkbox" type="checkbox" id="send_email" name="send_email" value="1" checked />
      Notify the user about the account change
    </label>
  </div>
  <input type="submit" class="btn btn-primary btn-danger" value="Save">
</form>
  </div>
</div>

{% endblock %}
